<script>
var sprintSelected = function(sprint){
	// TODO save selected sprint
}
</script>

<% selected_sprint = params[:tab] ? params[:tab].to_s : sprints.first[:name] %>

<div class="tabs">
  <ul>
  <% sprints.each do |sprint| -%>
    <li><%= link_to sprint[:label], { :tab => sprint[:name] },
                                    :id => "tab-#{sprint[:name]}",
                                    :class => (sprint[:name] != selected_sprint ? nil : 'selected'),
                                    :onclick => "showTab('#{sprint[:name]}'); this.blur(); sprintSelected('#{sprint[:name]}'); return false;" %></li>
  <% end -%>
  </ul>

</div>



<% sprints.each do |sprint| -%>
  <%= content_tag('div', render(:partial => sprint[:partial], :locals => {:sprint => sprint} ), 
                       :id => "tab-content-#{sprint[:name]}",
                       :style => (sprint[:name] != selected_sprint ? 'display:none' : nil),
                       :class => 'tab-content') %>
<% end -%>