<script>
 var onDrop = function(dragEl, dropEl, event) {
            // if((dragEl != issue.getIssueEl()) || 
              // !dropEl.scrumbler_status) return;
            // var status = dropEl.scrumbler_status;

            // if(issue.status_id != status.status_id) {
              // issue.getIssueEl().hide();
              dragEl.hide();
              // new Ajax.Request(issue.getURL(),
              // {
                // method:'post',
                // parameters: {
                  // 'issue[status_id]': status.status_id
                // },
                // onSuccess: function(transport){
                  // var resp = transport.responseJSON;
                  // if(!resp) return;
// 
                  // if(resp.success) {
                    // issue.status_id = status.status_id;
                    // dropEl.appendChild(issue.getIssueEl());
                    // $('scrumbler_sprint_header_name').update(resp.sprint_name);
                  // } else {
                    // $growler.growl(resp.text, {
                      // header: 'Ошибка'
                    // });
                  // }
//                                 
                // },
                // onFailure: function(){ 
//                   
                  // $growler.growl('Something went wrong...', {
                    // header: 'Error'
                  // });
                // },
                // onComplete: function() {
                  // issue.getIssueEl().show()
                // }
              // });
                        
            // }
                        
                        
          }
</script>

<% selected_tab = params[:tab] ? params[:tab].to_s : tabs.first[:name] %>

<div class="tabs">
  <ul>
  <% tabs.each do |tab| -%>
    <li><%= link_to tab[:label], { :tab => tab[:name] },
                                    :id => "tab-#{tab[:name]}",
                                    :class => (tab[:name] != selected_tab ? nil : 'selected'),
                                    :onclick => "showTab('#{tab[:name]}'); this.blur(); return false;" %></li>
  <% end -%>
  </ul>

</div>



<% tabs.each do |tab| -%>
  <%= content_tag('div', render(:partial => tab[:partial], :locals => {:tab => tab, :sprint => tab[:sprint]} ), 
                       :id => "tab-content-#{tab[:name]}",
                       :style => (tab[:name] != selected_tab ? 'display:none' : nil),
                       :class => 'tab-content') %>
<% end -%>