
<h2><%=l(:label_backlog)%></h2>
  <div class ="box" style="width:300px">
  <% @project.issues.without_version.each do |issue| %>
    <div class="issue">
      <p><%= issue.subject %></p>
    </div>    
  <% end %>
  </div>

<div id="sprints-tab">
  <%=render_sprint_tabs scrumbler_sprints_tabs(@project.scrumbler_sprints)%>
</div>