<h2><%=l :label_settings%></h2>
<%#= link_to_remote "Трекеры", :update => "scrumbler_maintrackers_settings", :url => project_scrumbler_maintrackers_url(@project) %>
<div id="scrumbler_maintrackers_settings">
    <%= render :partial => "maintrackers" %>
</div>