<table width="100%" border="1">
    <tr>
        <%= draw_statuses_on_dashboard(dashboard.scrumbler_sprint_statuses)  %>
    </tr>
    <% dashboard.issues.each do |issue| %>
        <tr>
           <%= draw_issue_on_dashboard(issue, dashboard.scrumbler_sprint_statuses) %>
        </tr>
    <% end %>
</table>