<div class="scrumbler_dashboard_issue" id="scrumbler_dashboard_issue_<%= issue.id %>">
    <span class="title"><%= link_to issue.subject, :controller => 'issues', :action => 'show', :id => issue.id %></span>
    
</div>