<div id="scrumbler_sprint" style="">
  <% if sprint %>
    <div class="contextual">
      <%= link_to l(:label_sprint_burndown), burndown_project_scrumbler_sprint_url(@project, sprint) if sprint.status != "planning"%>
      <%= link_to l(:label_sprint_settings), project_scrumbler_sprint_settings_url(@project, sprint) if authorize_for(:scrumbler_sprints, :settings)%>
    </div>
    <%= draw_scrumbler_dashboard(sprint) %>
  <% else %>
    <p id="errorExplanation"><%=l :error_sprint_not_found_in_project %></p>
  <% end %>
</div>