<div id="scrumbler_sprint">
    <% if sprint %>
    <div class="contextual">
        <%= link_to "Настройки спринта" %>
    </div>
    <h3><%= sprint.name %></h3>
    <% else %>
        <p id="errorExplanation"><%=l :error_sprint_not_found_in_project %></p>
    <% end %>
</div>

