div.scrumbler_dashboard_issue {
    border: 1px solid #333333;
    height: 50px;
    background: white;
}

div.scrumbler_dashboard_issue_color{
/*    border: 1px solid black;*/
    width:100%;
    height:15px;
}

div#scrumbler_sprint table {
    border-collapse:collapse;
}
div#scrumbler_sprint table, div#scrumbler_sprint table th, div#scrumbler_sprint table td {
    border: 1px solid black;
}

div#scrumbler_sprint table tr td{
    height: 50px;
}