div.scrumbler_dashboard_issue {
    border: 1px solid red;
    height: 50px;
    background: white;
}

td.xxx {
    border: 5px dashed red !important;
}


div#scrumbler_sprint table {
    border-collapse:collapse;
}
div#scrumbler_sprint table, div#scrumbler_sprint table th, div#scrumbler_sprint table td {
    border: 1px solid black;
}

div#scrumbler_sprint table tr td{
    height: 50px;
}